body {
    font-family: arial;
    color: #111;
    background-color: #f3f3f3;
}

.container {
    width: 980px;
    margin: 0 auto;
}

table, th, td {
    border-collapse: collapse;
    background-color: #fff;
}

button {
    cursor: pointer;
}

.half {
    width: 50%;
    padding: 10px 40px;
}