.loading {
	position: fixed;
	width: 24px;
	height: 24px;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	left: 0;
	border-width: 4px;
	border-style: solid;
	border-color: #e1e1e1 #e1e1e1 #288de5;
	margin: 0 auto;
    border-radius: 50%;
    animation-name: spinner;
    animation-iteration-count: infinite;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}